<!DOCTYPE html>
<html>
  <head>
    <title>Online discussion App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css', _external=False) }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Online Discussion App</h1>
        {% if session['username'] %}
          <h2>Welcome, {{ session['username'] }}!</h2>
        {% else %}
          <h2>Welcome!</h2>
        {% endif %}
        <p>
          <a href="{{ url_for('home', _external=False)}}">Home</a> |
          <a href="{{ url_for('read', _external=False)}}">All posts</a> |
          <a href="{{ url_for('create', _external=False)}}">Create a post</a> |
          <a href="{{ url_for('logout', _external=False) }}">log out</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is
          <a href="https://github.com/dbdesign-students-fall2023/7-web-app-Catherineya.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
