<!-- login.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Online discussion App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1>Online Discussion App</h1>
    </header>
    {% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ messages[0] }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% endwith %}
    <form method="post" action="{{ url_for('login', _external=False) }}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Sign In">

    </form>
  </body>
</html>
